body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.todo-group {
    padding: 26px 39px;
    background-color: #FFF7D1;
}

.todo-group-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
    grid-gap: 1rem;
}

.btn {
    padding: 5px;
    background-color: burlywood;
    display: block;
}

.done {
    text-decoration: line-through;
    color: lightgray;
}
